<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:property-placeholder location="classpath:mysql.properties"/>
    <context:component-scan base-package="dao"/>
    <!--hikari config-->
    <bean id="dataSourceHikari" class="com.zaxxer.hikari.HikariDataSource">
        <property name="driverClassName" value="${mysql.driver}"/>
        <property name="jdbcUrl" value="${mysql.url}"/>
        <property name="username" value="${mysql.username}"/>
        <property name="password" value="${mysql.password}"/>
        <property name="connectionTimeout" value="30000"/><!-- 30s -->
        <property name="idleTimeout" value="600000"/><!-- 60s -->
        <property name="maxLifetime" value="1800000"/><!-- 30min -->
        <property name="maximumPoolSize" value="10"/>
        <property name="minimumIdle" value="1"/>
    </bean>
    <bean id="mysqlJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSourceHikari"/>
    </bean>

    <tx:annotation-driven/>
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceHikari"/>
    </bean>
</beans>
